* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

.fondoAzul {
  background-color: rgb(40, 40, 140);
  color: #fff;
}

.item-jumbotron {
  background-color: rgb(190, 190, 190) ;
}

.lista-footer {
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}